@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&family=Oswald:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
body{
    font-family: 'Finlandica', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: azure
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 33px ;
}
.section-title{
    color: blueviolet;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid yellow;
    margin-top: 30px;
}